* {
	margin : 0;
	padding : 0;
}
html {
	text-align : justify;
}
#menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#menu ul {
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 0px;
	line-height: 22px;
}
#menu li {
	display : inline;
}
#menu li a {
	color : #ffffff;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
	text-decoration: none;
	font-weight: bold;
}
#menu li a:hover {
	border: 1px solid #000000;
	padding-top: 3px;
	padding-right: 17px;
	padding-bottom: 3px;
	padding-left: 17px;
	background-image: url(../images/buttonbg.gif);
	background-repeat: repeat-x;
	color: #000000;
}
#menu li.selected a {
	color : #000000;
	background-image: url(../images/buttonbg.gif);
	background-repeat: repeat-x;
	font-weight: bold;
	border: 1px solid #000000;
	padding: 3px 18px 3px 18px;
}
/*
#menu li.selected a:hover {
	color : #CC0000;
	background-color: #FFFFFF;
	padding: 3px 18px 3px 18px;
}
