<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<filter>
  <filter-name>Authenticator Filter</filter-name>
  <filter-class>com.epis.filter.AuthenticatorFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
  <init-param>
   <param-name>usefilter</param-name>
   <param-value>true</param-value>
  </init-param>
 </filter>
 <filter-mapping>
  <filter-name>Authenticator Filter</filter-name>
  <url-pattern>*.do</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>com.epis.listener.investment.JasperContextListener</listener-class>
 </listener>
 <servlet>
  <servlet-name>action</servlet-name>
  <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
  <init-param>
   <param-name>config</param-name>
   <param-value>/WEB-INF/struts-config.xml,/WEB-INF/struts-loans.xml,/WEB-INF/struts-rpfc.xml</param-value>
  </init-param>
  <init-param>
   <param-name>debug</param-name>
   <param-value>3</param-value>
  </init-param>
  <init-param>
   <param-name>detail</param-name>
   <param-value>3</param-value>
  </init-param>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <!-- CashBook -->
 <servlet>
  <servlet-name>AccountingCode</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.AccountingCode</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>BankMaster</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.BankMaster</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>BankOpeningBal</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.BankOpenBal</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Party</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.Party</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Voucher</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.Voucher</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Employee</servlet-name>
  <servlet-class>com.epis.action.cashbookDummy.Employee</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>voucherNew</servlet-name>
  <jsp-file>/jsp/cashbook/voucher/VoucherSearch.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>VoucherApproval</servlet-name>
  <jsp-file>/jsp/cashbook/voucher/VoucherApproval.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>EPaymentTransfers</servlet-name>
  <jsp-file>/jsp/cashbook/voucher/EPaymentTransfersParam.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>BankBook</servlet-name>
  <jsp-file>/jsp/cashbook/bankbook/BankBookParam.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>GenLedger</servlet-name>
  <jsp-file>/jsp/cashbook/generalledger/GenLedgerParam.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>MultipleVoucherReport</servlet-name>
  <jsp-file>/jsp/cashbook/voucher/MultipleVoucherParam.jsp</jsp-file>
 </servlet>
 <servlet>
  <servlet-name>TrialBalance</servlet-name>
  <jsp-file>/jsp/cashbook/trialbalance/TrialBalanceParam.jsp</jsp-file>
 </servlet>
 <servlet-mapping>
  <servlet-name>TrialBalance</servlet-name>
  <url-pattern>/TrialBalance.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>GenLedger</servlet-name>
  <url-pattern>/GenLedger.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>MultipleVoucherReport</servlet-name>
  <url-pattern>/MultipleVoucherReport.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BankBook</servlet-name>
  <url-pattern>/BankBook.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>EPaymentTransfers</servlet-name>
  <url-pattern>/EPaymentTransfers.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>VoucherApproval</servlet-name>
  <url-pattern>/VoucherApproval.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>voucherNew</servlet-name>
  <url-pattern>/VoucherSearch.do</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Employee</servlet-name>
  <url-pattern>/Employee</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Voucher</servlet-name>
  <url-pattern>/Voucher</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Party</servlet-name>
  <url-pattern>/Party</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BankOpeningBal</servlet-name>
  <url-pattern>/BankOpeningBal</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>BankMaster</servlet-name>
  <url-pattern>/BankMaster</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AccountingCode</servlet-name>
  <url-pattern>/AccountingCode</url-pattern>
 </servlet-mapping>
 <!--  End of CashBook-->
 <servlet-mapping>
  <servlet-name>action</servlet-name>
  <url-pattern>*.do</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>2000</session-timeout>
 </session-config>
 
 <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 
 <taglib>
  <taglib-uri>/tags-html</taglib-uri>
  <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/tags-bean</taglib-uri>
  <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/tags-logic</taglib-uri>
  <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/tags-display</taglib-uri>
  <taglib-location>/WEB-INF/displaytag.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/tags-c</taglib-uri>
  <taglib-location>/WEB-INF/c.tld</taglib-location>
 </taglib>
 <taglib>
  <taglib-uri>/tags-fmt</taglib-uri>
  <taglib-location>/WEB-INF/fmt.tld</taglib-location>
 </taglib>
 
  <login-config>
  <auth-method>BASIC</auth-method>
 </login-config> 
 
</web-app>
